/********************** GOOGLE FONTS **********************/

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --footer-height: 15vh;

  --first-color: #142a26;
  --second-color: #101b19;
  --text-color: rgb(155, 152, 147);
  --second-text-color: grey;

  --biggest-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --body-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
}

.overflow {
  overflow: hidden;
}

/* LOADING SPINNER */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1000;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.icon-castle {
  height: 200px;
  width: 200px;
}

.icon-castle path {
  fill: transparent;
  stroke-width: 10;
  stroke: rgb(155, 152, 147);
  stroke-dasharray: 1010;
  stroke-dashoffset: 0;
  animation: loading 4s linear forwards;
}

/* END LOADING SPINNER */

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.11);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-down 2s forwards;
  animation-delay: 3.9s;
}

.header P {
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  padding: 3px 0;
}

/* END HEADER */

.content {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  padding: 40px 0;
  background-color: var(--second-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--text-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--text-color);
  color: inherit;
  border: 1px solid var(--text-color);
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.1);
  opacity: 1;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: var(--normal-font-size);
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.75;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .logo {
  margin: 20px auto;
  width: 100px;
  opacity: 0.75;
}

.footer .logo:hover {
  opacity: 1;
}

.footer .logo path {
  fill: var(--text-color);
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  opacity: 0.5;
}

/* END FOOTER */

@keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1010;
  }
  80% {
    stroke-dashoffset: 2020;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2020;
    fill: var(--text-color);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
