/********************** GOOGLE FONTS **********************/

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --first-color: #142a26;
  --second-color: #101b19;
  --text-color: rgb(155, 152, 147);
  --second-text-color: grey;

  --biggest-font-size: 3rem;
  --normal-font-size: 0.938rem;

  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --body-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
}

.overflow {
  overflow: hidden;
}

p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  letter-spacing: 1px;
}

h1 {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

hr {
  color: var(--text-color);
}

/* LOADING SPINNER */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--first-color);
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1000;
  cursor: none;
}

.loader h2 {
  text-align: center;
  font-size: var(--biggest-font-size);
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-icon {
  height: 200px;
  width: 200px;
}

.loader-icon path {
  fill: transparent;
  stroke-width: 8;
  stroke: rgb(155, 152, 147);
  stroke-dasharray: 1260;
  stroke-dashoffset: 1260;
  animation: loading 3.9s linear forwards;
}

/* END LOADING SPINNER */

/* CURSOR EFFECT */

.cursor-text {
  position: absolute;
  color: var(--text-color);
  font-size: var(--small-font-size);
  user-select: none;
  pointer-events: none;
  animation: rotate-cursor 20s linear infinite;
  display: none;
}

.cursor-text .cursor-span {
  position: absolute;
  top: -60px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 65px;
}

/* END CURSOR EFFECT */

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--second-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  animation: fade-down 2s forwards;
  animation-delay: 3.9s;
}

.header P {
  text-align: center;
  font-size: var(--small-font-size);
  padding: 3px 0;
}

/* END HEADER */

/* HERO */

.hero {
  height: 100vh;
  position: relative;
  padding: 30px 25px 25px 25px;
}

.fade-right {
  animation: fade-right 2s forwards;
  animation-delay: 3.9s;
}

.hero .head-line {
  font-size: var(--biggest-font-size);
  font-weight: 900;
  color: var(--first-color);
  text-shadow: -1px 0 var(--text-color), 0 1px var(--text-color),
    1px 0 var(--text-color), 0 -1px var(--text-color);
}

.accordion {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.accordion .accordion-content {
  margin: 10px 0;
  overflow: hidden;
}

.accordion .accordion-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.accordion .accordion-description {
  padding: 0 15px;
  height: 0;
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: auto;
  transition: all 0.3s linear;
}

.accordion .accordion-description a {
  text-decoration: none;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.accordion .accordion-description span {
  opacity: 0.75;
}

.accordion-day,
.accordion-location,
.accordion-contact {
  grid-column-start: 1;
  grid-column-end: 1;
}

.accordion-hours {
  grid-column-start: 2;
}

.accordion-content.open .accordion-description {
  margin-bottom: 20px;
}

.accordion .accordion-arrow-fill-out path {
  fill: var(--text-color);
}

.fade-up {
  animation: fade-up 2s forwards;
  animation-delay: 3.9s;
}

/* END HERO */

/* FOOTER */
.footer {
  padding: 40px 0;
  background-color: var(--second-color);
}

.footer .footer-social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--text-color);
}

.footer .footer-social a {
  font-size: 25px;
  color: var(--text-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
}

.footer ul {
  margin: 0;
  padding: 0;
  font-size: var(--normal-font-size);
  line-height: 1.6;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.footer .footer-logo {
  margin: 20px auto;
  width: 100px;
}

.footer .footer-logo path {
  fill: var(--text-color);
}

.footer .footer-copyright {
  margin-top: 15px;
  opacity: 0.5;
  display: block;
  text-align: center;
}

/* END FOOTER */

/* HOVER EFFECTS */

.hover-opacity {
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hover-scale {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.1);
}

.hover-opacity:hover {
  opacity: 1;
}

/* END HOVER EFFECTS */

/* ANIMATIONS */

@keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1260;
  }
  80% {
    stroke-dashoffset: 2520;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 2520;
    fill: var(--text-color);
  }
}

@keyframes rotate-cursor {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(+30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(+30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* END ANIMATIONS */

/* BREAKPOINTS  */

/* Extra small devices (phones, 380px and down) */
@media only screen and (min-width: 380px) {
  :root {
    --biggest-font-size: 3rem;
    --normal-font-size: 0.938rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --biggest-font-size: 3.2rem;
    --normal-font-size: 1.1rem;
  }

  .head-text {
    max-width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1.5rem;
  }
  .head-text {
    max-width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1rem;
  }

  .head-text {
    max-width: 35%;
  }

  .accordion {
    max-width: 75%;
    padding: 15px 50px;
  }
  .hero {
    padding: 60px 50px 50px 50px;
  }

  .cursor-text {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --biggest-font-size: 4rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1rem;
  }
  .head-text {
    max-width: 35%;
  }

  .accordion {
    max-width: 70%;
    padding: 15px 50px;
  }

  .hero {
    padding: 60px 50px 50px 50px;
  }

  .cursor-text {
    display: block;
  }
}

/* END BREAKPOINTS  */
